main {
	width: 600px;
	margin: 1em auto;
	border-radius: 1em;
	padding: 1em;
    background-color: #9EC5AB;
}

.card {
	border-radius: 1em;
	padding: 1em;
	margin-bottom: 1em;
}
header{
    padding: 1em;
}
h1{
    padding: 1em;
    font-weight: 900;
}
footer{
    padding: 1em;
    background-color: #9AADBF;
    color: #DACDDF;
    text-align: center;
}
h2{
    padding: 1em;
    background-color: #E2E2E2;
    color: #E0DBC4;
}
h3{
    color: #FFFFFF;
}
article{
    background-color: #BBBAC6;
}
blockquote {
    padding: 1em;
    color: #FFFFFF;
}
p{
    color: #FFFFFF;
}
body {
    background-color: bisque;
}
img{
    text-align: center;
    width: 570px;
}
header, main{
    background-color: bisque;
}

.h{
    display: flex;
    justify-content: flex-end;
}
.sm{
    width: 200px;
}
h1{
    text-align: center;
}
h2{
    color: #000;
}
.love{
    color: rgb(207, 8, 8);
}
a{
    text-decoration: none;
    color:#000;
}
.g{
    color: #000;
}